<div class="text-field">
	<%= form.label :Title %>
	<%= form.text_field :title %>
</div>

<div class="text-field">
	<%= form.label :Description %>
	<%= form.text_field :description %>
</div>

<div class="text-field">
	<%= form.label :Type_of_Property %>
	<%= form.text_field :property_type %>
</div>

<div class="text-field">
	<%= form.label :Price_per_day %>
	<%= form.text_field :price %>
</div>

<div class="text-field">
	<%= form.label :Property_Address %>
	<%= form.text_field :address %>
</div>

<div class="text-field">
	<%= form.label :Photos %>
	<%= form.text_field :picture %>
</div>

