<%= link_to "Home", root_path %>
<%= link_to "My Listings", listings_path %>
<h1>Update your BnB listing</h1>
<p>Current Listing Information</p>

<%= form_for @listing do |form| %>
	<%= render partial: '/listings/form', object: form %>

  <%= form.submit %>
<% end %>

