<%= link_to "Home", root_path %>
<%= link_to "My Listings", listings_path %>
<h1>Update your BnB listing</h1>
<p>Current Listing Information</p>

<%= form_for @reservation, url:listing_reservations_path(@listing) do |form| %>
	<%= render partial: '/reservations/form', object: form %>
	<%= hidden_field_tag @listing.id %>
  <%= form.submit %>
<% end %>