<%= link_to "Home", root_path %>
<%= link_to "Back", listings_path %>
<h1>This is the show page for <%= @listing.user.username %></h1>

<p>Title : <%= @listing.title %></p>
<p>Listing Type : <%= @listing.property_type %></p>
<p>Price per day : <%= @listing.price %></p>
<p>Address : <%= @listing.address %></p>
<p>Description : <%= @listing.description %></p>
<% if @listing.listing_photos %>
<div class="container">  
  <div id="myCarousel" class="carousel slide special" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <% t = @listing.listing_photos.count - 1 %>
      <% for i in 1..t do %> 
        <li data-target="#myCarousel" data-slide-to="<%= i %>"></li>
      <% end %>
    </ol>

    <!-- Wrapper for slides -->

    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag @listing.listing_photos.first.url, class: 'carousel-width' %>
      </div>

      <% for i in 1..t do %> 
        <div class="item">
          <%= image_tag @listing.listing_photos[i].url, class: 'carousel-width' %>
        </div>
      <% end %>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
</div>
<% end %>
<p></p>
<p>Created at <%= time_ago_in_words(@listing.created_at) %> ago</p>

