<div class="text-field">
	<%= form.label :username %>
	<%= form.text_field :username %>
</div>

<div class="text-field">
	<%= form.label :first_name %>
	<%= form.text_field :first_name %>
</div>

<div class="text-field">
	<%= form.label :last_name %>
	<%= form.text_field :last_name %>
</div>

