

<%= link_to "Home", root_path %>

<h1><%= @user.username %> listings</h1>



<% @user.listings.each do |l| %>
<p><%= link_to "Title : #{l.title}", listing_path(l) %></p>
<p>Listing Type : <%= l.property_type %></p>
<p>Price per Day: <%= l.price %></p>
<p>Address      : <%= l.address %></p>
<p>City         : <%= l.city %></p>
<p>Description  : <%= l.description %></p>
<p>Created at <%= time_ago_in_words(l.created_at) %> ago</p>
<p><%= "-"*300 %></p>
<% end %>
