<!DOCTYPE html>
<html>
  <head>
    <title>Bnb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

	<% if signed_in? %>
	  <d>Welcome <%= current_user.username.capitalize %></d><br>
	  <p></p>
	  <d>Username :<%= current_user.username %></d><br>
	  <d>Email    :<%= current_user.email %></d>
	  <%= link_to "Edit profile", edit_user_path(current_user) %>
	  <%= button_to "Sign out", sign_out_path, method: :delete %>
	<% else %>
		<%= link_to "Home", root_path %>
		<%= link_to "Register", sign_up_path %>
	  <%= link_to "Login", sign_in_path %>
	  <%= link_to "Sign in with Facebook", "/auth/facebook" %>
	<% end %>

    <%= yield %>



  </body>
</html>
